<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.a15927.bottombardemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    //联网
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    //读取外置存储卡
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    //读取网络状态
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    //写SD卡
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/> -->
    <!-- //对SD操作 -->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    //打开手机相册权限读取documents
    <application
        android:name=".Utils.AppStr"
        android:allowBackup="true"
        android:icon="@drawable/sec"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".logoview.LogoActivity"
            android:theme="@style/LogoActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".homeactivity.HomeSearch"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".meactivity.MeLogin">
        </activity>
        <activity android:name=".findactivity.FindSale">
        </activity>
        <activity android:name=".findactivity.FindBuy">
        </activity>
        <activity android:name=".meactivity.RegisterIn">
        </activity>
        <activity android:name=".meactivity.ResetPassword">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.a15927.bottombardemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".meactivity.UserInfor">
        </activity>
        <activity android:name=".meactivity.LoginSetting">
        </activity>
        <activity android:name=".meactivity.MyShop">
        </activity>
        <activity android:name=".meactivity.MyForBuy">
        </activity>
        <activity android:name=".meactivity.About_us">
        </activity>
        <activity android:name=".meactivity.CollectionInf">
        </activity>
        <activity android:name=".item.ItemGoodsActivity">
        </activity>
        <activity android:name=".item.ItemBuyActivity">
        </activity>
        <activity android:name=".sortactivity.Sort"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".meactivity.UpdateUserInfo">
        </activity>
    </application>

</manifest>